version: '3.7'

volumes:
  pg_bot_data:

services:
  db:
    container_name: db_api_container
    image: postgres:16-alpine3.19
    env_file: .env
    restart: always
    volumes:
      - pg_bot_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  api_service:
    container_name: api_service_main
    build: .
    env_file: .env
    restart: on-failure
    command: bash entrypoint.sh
    ports:
      - "8000:8000"
    deploy:
      resources:
        limits:
          memory: 2GB
    depends_on:
      - db

  nginx:
    container_name: nginx_reverse_proxy
    image: nginx:alpine
    ports:
      - "90:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - api_service
